* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.row {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #4361ee;

  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d419b;
}
::-webkit-scrollbar-track {
  background-color: #2d9abb;
}
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}

/*--------------------------------------Header start------------------------------*/

.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -45deg,
    #f72585,
    #7209b7,
    #480ca8,
    #4361ee,
    #4cc9f0
  );
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
}
/*--------------------------------------NAV start------------------------------*/
nav {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-height: 100px;
  background: rgba(25, 34, 36, 0.301);
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 20;
}
nav img {
  width: 80px;
}
.nav-links {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4cc9f0;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
}
.social-link {
  flex: 1;
  list-style: none;
  display: inline-block;
  position: relative;
  text-align: right;
}

.social-link img {
  width: 47px;
  height: 47px;
  margin: 0 20px 0;
  filter: invert(100%) sepia(0%) saturate(7477%) hue-rotate(18deg)
    brightness(102%) contrast(105%);
  cursor: pointer;
}
.social-link img:hover {
  filter: invert(38%) sepia(97%) saturate(2282%) hue-rotate(197deg)
    brightness(88%) contrast(102%);
  transition: 2s;
}

@media (max-width: 800px) {
  .text-box {
    padding: 90px 0;
  }
  .header-logo img {
    width: 83px;
  }
  .social-link img {
    width: 33px;
    height: 33px;
    text-align: left;
    margin: 0 3px;
  }
  nav {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -220px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
/*--------------------------------------NAV end------------------------------*/
.text-box {
  width: 90%;
  color: #fff;

  text-align: center;
}
.text-box img {
  width: 80%;
  cursor: pointer;
}
.text-box h1 {
  font-size: 62px;
  color: #fff;
  text-shadow: 2px 2px #4cc9f0;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: #fff;
  color: #fff;
  text-shadow: 1px 1px #4cc9f0;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #4cc9f0;
  background: #4cc9f0;
  transition: 1s;
}

@media (max-width: 800px) {
  .text-box img {
    width: 100%;
  }
  .text-box h1 {
    font-size: 22px;
  }
  .text-box p {
    font-size: 16px;
  }
}

/*--------------------------------------Header End-----------------------------------*/
/*--------------------------------------slideshow start------------------------------*/

.slideshow {
  height: 100vh;
  width: 100%;
  background-image: url(img/Background-1.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      #310872
    ),
    url(img/Background-1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0 0px;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.slideshow-title {
  width: 80%;
}
.slideshow-col {
  color: #fff;
  flex-basis: 44%;
  text-align: center;
}
.slideshow-col h2 {
  text-shadow: 2px 2px #4cc9f0;
  font-size: 52px;
  padding-bottom: 19px;
}
.slideshow-col p {
  text-shadow: 1px 1px #4cc9f0;
  font-size: 18px;
  text-align: justify;
}
.slideshow-col img {
  width: 80%;
  cursor: pointer;
}
.slideshow-col img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  z-index: 2;
}

@media (max-width: 800px) {
  .slideshow {
    min-height: 1080px;
    padding-top: 0;
  }
  .slideshow-col h2 {
    font-size: 32px;
  }
  .slideshow-col p {
    font-size: 16px;
    text-align: center;
  }
  .slideshow-col img {
    padding: 15px 0;
    width: 100%;
  }
}
/*--------------------------------------Slideshow End-----------------------------------*/
/*--------------------------------------token start------------------------------------*/

.token {
  padding-top: 100px;
  width: 100%;
  height: 80vh;
  background: #310872;
  text-align: center;
  background-size: cover;
}
.token-title {
  width: 80%;
  margin: auto;
  text-align: center;
}
.token-title h2 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 3%;
  color: #fff;
  text-shadow: 2px 2px #4cc9f0;
}
.token-col {
  flex-basis: 50%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #4cc9f0;
  overflow: hidden;
  position: relative;
}
.token-col img {
  width: 60%;
}
.token-col p {
  font-size: 22px;
  text-align: justify;
}

@media (max-width: 800px) {
  .token {
    min-height: 1080px;
    padding-top: 0;
  }
  .token-col img {
    width: 80%;
  }
  .token-title h2 {
    font-size: 38px;
  }
  .token-title p {
    font-size: 16px;
    text-align: center;
  }
}
/*--------------------------------------token End-------------------------------------*/
/*--------------------------------------roadmap start------------------------------------*/

.roadmap {
  padding-top: 100px;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      to bottom,
      #310872,
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466)
    ),
    url(img/Background-1.jpg);
  color: #fff;
  text-align: center;
  margin-bottom: 3px;
}
.roadmap-title {
  width: 80%;
  margin: auto;
  text-align: center;
}
.roadmap-title h2 {
  font-size: 52px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #4cc9f0;
}

@media (max-width: 800px) {
  .roadmap {
    min-height: 1080px;
    padding-top: 0;
  }
  .roadmap-title h2 {
    font-size: 32px;
  }
}
/*--------------------------------------roadmap End-------------------------------------*/
/*--------------------------------------team start--------------------------------------*/

.team {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -45deg,
    #f72585,
    #7209b7,
    #480ca8,
    #4361ee,
    #4cc9f0
  );
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
}
.team-title {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #fff;
}
.team-title h2 {
  font-size: 62px;
  text-shadow: 2px 2px #4cc9f0;
}
.team-col {
  flex-basis: 31%;
  border-radius: 10px;
  text-align: left;
}
.team-col p {
  font-size: 22px;
  margin: 5% 5%;
  margin-left: 7%;
  text-align: center;
  text-shadow: 1px 1px #4cc9f0;
}
.team-col img {
  width: 50%;
  border-radius: 50%;
  margin-left: 25%;
}

@media (max-width: 800px) {
  .team {
    padding-top: 0;
  }
  .team-title h2 {
    margin: 2% 2%;
    font-size: 32px;
  }
}
/*--------------------------------------Team End-------------------------------------*/
/*--------------------------------------faq start--------------------------------------*/

.faq-section {
  min-height: 70vh;
  width: 100%;
  margin: 3px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #480ca8;
  color: #fff;
  padding-top: 100px;
}
.faq-section h2 {
  font-size: 3rem;
  margin: 2rem 0rem;
}
.faq {
  max-width: 700px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3 {
  font-size: 1.8rem;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.answer p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
.faq.active .answer {
  max-height: 300px;
  animation: faded 1s ease-in-out;
}
.faq.active svg {
  transform: rotate(180deg);
}
svg {
  transition: transform 0.5s ease-in;
}

@keyframes faded {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 800px) {
  .faq {
    width: 80%;
  }
  .faq-section {
    padding-top: 0;
  }
  .faq-section h2 {
    font-size: 32px;
  }
  .question h3 {
    font-size: 18px;
  }
  .answer p {
    font-size: 16px;
  }
}

/*--------------------------------------Faq end-------------------------------------------------*/
/*--------------------------------------Utility start-------------------------------------------*/

.utility {
  padding-top: 100px;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      #480ca8
    ),
    url(img/Background-1.jpg);
  color: #fff;
  text-align: center;
}
.utility-title h2 {
  font-size: 62px;
  text-shadow: 2px 2px #4cc9f0;
}

@media (max-width: 800px) {
  .utility-title h2 {
    font-size: 32px;
  }
}

/*--------------------------------------Utility end-------------------------------------------*/
/*--------------------------------------Partner start-------------------------------------------*/

.partner {
  padding-top: 100px;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      #480ca8
    ),
    url(img/Background-1.jpg);
  color: #fff;
  text-align: center;
}
.partner-title h2 {
  font-size: 62px;
  text-shadow: 2px 2px #4cc9f0;
}

@media (max-width: 800px) {
  .partner-title h2 {
    font-size: 32px;
  }
}

/*--------------------------------------Partner end-------------------------------------------*/
/*--------------------------------------Merch Start-------------------------------------------*/

.merch {
  padding-top: 100px;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      rgba(11, 17, 71, 0.466),
      #480ca8
    ),
    url(img/Background-1.jpg);
  color: #fff;
  text-align: center;
}
.merch-title h2 {
  font-size: 62px;
  text-shadow: 2px 2px #4cc9f0;
}

@media (max-width: 800px) {
  .merch-title h2 {
    font-size: 32px;
  }
}

/*--------------------------------------Merch end---------------------------------------------*/
/*--------------------------------------Footer start------------------------------------------*/

.footer {
  min-height: 15vh;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: #480ca8;
  color: #fff;
}
.footer h4 {
  margin-top: 20px;
  font-weight: 600;
}
.icon {
  margin-top: 25px;
  cursor: pointer;
}
.icon img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  filter: invert(100%) sepia(0%) saturate(7477%) hue-rotate(18deg)
    brightness(102%) contrast(105%);
}

@media (max-width: 800px) {
  .footer h4 {
    font-size: 12px;
  }
  .footer p {
    font-size: 9px;
  }
}

/*--------------------------------------Footer End------------------------------------------*/
